.screenEdge {
  position: absolute;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: #fff;
  border-radius: 1px;
  box-shadow: 0 0 5px -3px #000;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
}
