@import '~@/style/global.less';
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  .center;

  width: 100%;
  height: 100%;
  cursor: pointer;
}

.marquee {
  position: relative;
  display: inline-block;
  height: 100%;
  white-space: nowrap;
  cursor: pointer;
  animation: marqueeAnimation infinite linear;
  .center;
  span {
    display: inline-block;
    width: 5em;
  }
}
.marqueeWrapper {
  position: relative;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}
