@import '~@/style/theme.less';
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  .center;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.marquee {
  position: relative;
  white-space: nowrap;
  animation: marqueeAnimation infinite linear;
  cursor: pointer;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  height: 100%;
  .center;
  span {
    width: 5em;
    display: inline-block;
  }
}
.marqueeWrapper {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  position: relative;
}
