@import '~@/style/global.less';

.component-panel-wp {
  z-index: 4;
  flex: none;
  width: 233px;
  height: 100%;
  overflow: hidden;
  background: var(--datav-panel-color);
  box-shadow: 1px 0 #000;
  transition: width 0.3s ease;
}

.component-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 233px;
  height: 100%;
  overflow: hidden;
  transition: 0.3s ease;

  :global {
    .ant-tabs-nav-wrap {
      background: var(--datav-panel-title-bg);
    }
    .ant-tabs {
      height: 100%;
      &-tab {
        margin: 0 4px;
        padding: 0;
        user-select: none;
        &-btn {
          padding: 4px 5px;
          color: #bcc9d4;
          font-size: 14px;
        }
      }
      &-content {
        height: 100%;
      }
    }
    .ant-spin-nested-loading,
    .ant-spin-container {
      height: 100%;
    }

    .ant-drawer-title {
      display: flex;
      flex: 1;
      justify-content: space-between;
      width: 100%;
      overflow: hidden;
      color: var(--datav-main-color);
      font-size: 12px;
      line-height: 15px;
      text-overflow: ellipsis;
      word-break: break-word;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .closeBtn {
    position: absolute;
    top: 3px;
    right: 5px;
    z-index: 1;
    color: #ddd;
    cursor: pointer;
    transition: color 0.2s;
    &:hover {
      color: var(--datav-main-color);
    }
  }

  &-wrapper {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }

  .component-search-wp {
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    background: #191c21;
  }
  .search-ipt {
    height: 30px;
    padding-right: 22px;
  }
  .clear-search-text {
    position: absolute;
    right: 0;
    padding: 4px;
    color: #bcc9d4;
    font-size: 14px;
    cursor: pointer;
  }
}

// .shrink {
//   width: 128px;
// }

.hide {
  width: 0;
}

.datav-tabs {
  position: relative;
  display: flex;
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  overflow: hidden;
  .nav {
    position: relative;
    width: 48px;
    height: 100%;
    padding: 0;
    overflow: hidden;
    line-height: unset;
    white-space: normal;
    background: var(--datav-left-nav-bg);
    transition: padding 0.2s;
    user-select: none;
    .wp {
      position: relative;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: 0 0;
      }
      ::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: transparent;
      }
      .tab {
        display: inline-block;
        flex: 1;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 14px 5px;
        overflow: hidden;
        color: #bcc9d4;
        font-size: 12px;
        white-space: nowrap;
        text-align: center;
        text-overflow: ellipsis;
        background: var(--datav-left-nav-bg);
        border-top: none;
        border-left: 2px solid transparent;
        outline: 0;
        cursor: pointer;
        transition: 0.2s;
      }
      .tabActived {
        background: var(--datav-left-nav-active-bg);
        border-top: none;
        border-left-color: var(--datav-main-color);
      }
    }
  }
  .content {
    flex: 1;
    height: 100%;
    margin-top: 0;
    padding-top: 0;
    overflow: hidden;
  }
}

.menulist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  list-style: none;
  background: #0a0b0d;
  .finished {
    &::after {
      position: absolute;
      bottom: 0;
      left: 3px;
      border-color: transparent transparent transparent red;
      border-style: solid;
      border-width: 10px 10px 0;
      content: '';
    }
  }

  // 业务组件
  .business {
    .mask {
      position: absolute;
      top: 80px;
      left: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 40px;
      color: #bcc9d4;
      background: rgba(7, 75, 193, 0.8);
      transition: top ease 0.5s;
    }
    &:hover {
      .mask {
        top: 40px;
      }
    }
  }
  li {
    position: relative;
    display: inline-block;
    flex: none;
    box-sizing: border-box;
    width: 83px;
    margin-bottom: 6px;
    overflow: hidden;
    color: #bcc9d4;
    vertical-align: top;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    .text {
      padding: 0 5px;
      overflow: hidden;
      font-size: 12px;
      line-height: 22px;
      white-space: nowrap;
      text-align: left;
      text-overflow: ellipsis;
      background: #212326;
    }
    .img {
      position: relative;
      box-sizing: content-box;
      width: 100%;
      height: 58px;
      overflow: hidden;
      text-align: center;
      background-color: #17191c;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-clip: content-box;
      transition: border-color 0.2s;
    }
  }
}

.searchResult {
  ul {
    padding: 5px 0;
    padding-bottom: 30px;
    text-align: left;
    list-style: none;
  }
  li {
    position: relative;
    display: inline-block;
    flex: none;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 5px;
    padding-bottom: 10px;
    overflow: hidden;
    color: #bcc9d4;
    vertical-align: top;
    border-bottom: 1px solid #2f343c;
    border-radius: 3px;
    cursor: pointer;
    transition: background 0.2s;
    user-select: none;
    .components-from-text {
      margin-bottom: 5px;
    }
    .ellipsis {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .flex-wp {
      display: flex;
      .components-item-img {
        position: relative;
        box-sizing: content-box;
        width: 80px;
        height: 45px;
        overflow: hidden;
        text-align: center;
        background-color: #17191c;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-clip: content-box;
        transition: border-color 0.2s;
        pointer-events: none;
      }
      .components-info {
        flex: 1;
        margin-left: 5px;
        .line {
          display: -webkit-box;
          overflow: hidden;
          word-break: break-word;
          -webkit-box-orient: vertical;
        }
        .line2 {
          -webkit-line-clamp: 2;
          .line;
        }
        .line1 {
          .line;

          -webkit-line-clamp: 1;
        }
      }
    }
  }
}
