.moveable_canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  user-select: none;
  :global {
    .moveable-control-box {
      display: none !important;
    }
  }
  :first-child {
    cursor: move;
    transform: translate(0, 0);
  }
}
