@import '../../../../style/theme.less';

.config-panel-wp {
  width: 332px;
  height: 100%;
  z-index: 90;
  background: #1c1f25;
  position: relative;
  transition: width 0.25s ease-in-out;
  overflow: hidden;
  box-shadow: -1px 0 #000;
  .head {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: var(--datav-panel-title-bg);
    color: #bcc9d4;
    text-align: center;
    user-select: none;
    font-size: 12px;
  }
  .body {
    width: 100%;
    // height: calc(100% - 60px);
    // height: 100%;
    padding: 0 10px;
    .pageconfig {
      height: 100%;
      overflow-y: scroll;
      position: relative;
      .datav-gui {
        height: auto;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        width: 100%;
        background: var(--datav-gui-background-color-back);
        :global {
          .ant-divider {
            color: #6e7481;
            margin: 0;
            padding: 10px;
            background: #1c1f25;
            &:before,
            &:after {
              border-top-color: #6e7481;
            }
          }
        }
      }
      .datav-gui {
        --grid-all: 24;
      }
      .img {
        height: 90px;
        max-width: 180px;
        border: 1px dashed #2681ff80; //var(--datav-main-color);
        vertical-align: unset;
        position: absolute;
        top: 5px;
        padding: 5px;
        cursor: pointer;
      }
    }
    :global {
      .ant-tabs {
        color: #fff;
        height: 100%;
        &-content{
          height:100%;
        }
      }
    }
  }
  .bottom {
    .head;
    background: var(--datav-main-color);
    cursor: pointer;
  }
}
.hide {
  width: 0;
}
