@import '~@/style/global.less';

.config-panel-wp {
  position: absolute;
  right: 0;
  z-index: 90;
  display: flex;
  flex-direction: column;
  width: 332px;
  height: 100%;
  overflow: hidden;
  background: #1c1f25;
  box-shadow: -1px 0 #000;
  transition: transform 0.25s ease-in-out;

  .head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    color: #bcc9d4;
    font-size: 12px;
    line-height: 30px;
    text-align: left;
    background: var(--datav-panel-title-bg);
    user-select: none;
  }
  .body {
    flex: 1;
    width: 100%;
    // height: calc(100% - 60px);
    height: 100%;

    :global {
      .ant-tabs-nav-wrap {
        background: var(--datav-panel-title-bg);
      }
      .ant-tabs-tab {
        margin: 0 4px;
        padding: 0;
        user-select: none;
        &-btn {
          padding: 4px 5px;
          color: #bcc9d4;
          font-size: 14px;
        }
      }
      .ant-tabs {
        height: 100%;
        color: #fff;
        &-content {
          height: 100%;
        }
      }
    }

    .pageconfig {
      // overflow-y: scroll;
      position: relative;
      height: 100%;
      // padding: 0 10px;
      .datav-gui {
        width: 100%;
        height: 100%;

        --grid-all: 24;
        // max-height: calc(100vh - 125px);
        // min-height: 180px;
        overflow-y: scroll;
        font-style: normal;
        background: rgba(28, 32, 38, 0.603); // var(--datav-gui-background-color-back);
        -webkit-font-smoothing: antialiased;
        :global {
          .ant-divider {
            margin: 0;
            padding: 10px;
            color: #6e7481;
            background: #1c1f25;
            &::before,
            &::after {
              border-top-color: #6e7481;
            }
          }
          .ant-slider-rail {
            background-color: #262a35;
          }
        }
      }
      .img {
        position: absolute;
        top: 5px;
        max-width: 180px;
        height: 90px;
        padding: 5px;
        // vertical-align: unset;
        border: 1px dashed #2681ff80; //var(--datav-main-color);
        cursor: pointer;
      }
    }
  }
  .bottom {
    .head;

    width: calc(100% - 20px);
    margin: 5px 10px 10px 10px;
    background: var(--datav-main-color);
    cursor: pointer;
  }
  .btn {
    .head;

    height: 35px;
    background: var(--datav-sub-main-color);
    cursor: pointer;
  }
}

.configPanelTransparent {
  background: rgba(29, 33, 39, 50%);
  backdrop-filter: saturate(180%) blur(60px);
}

.hide {
  transform: translateX(332px);
}
.json {
  width: 100%;
  height: 450px;
  overflow-y: auto;
  background: #292d3e;
  border: none;
  &:focus {
    border: none;
    outline: none;
  }
}
.jsonwrapper {
  .title {
    // margin-bottom: 10px;
    // padding: 5px 0;
    text-align: right;
    background: var(--datav-gui-background-color-front);
  }
}
