@import '../../../style/theme.less';
.layer-panel-wp {
  flex: none;
  position: relative;
  width: 200px;
  height: 100%;
  background: #1d1f26;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  z-index: 5;
  overflow: hidden;
  border-right: 1px solid #000;
}

.hide {
  width: 0;
}
