@import '../../../../style/theme.less';

.config(@width:128px,@height:128px) {
  display: flex;
  flex-wrap: wrap;
  background: #0e0134;
  .item {
    height: 20 + @height;
    width: 4 + @width;
    margin: 8px;

    padding: 2px;
    .img {
      height: @height;
      width: @width;
      img {
        width: 100%;
        max-height: -4 + @height;
      }
    }
    .name {
      height: 20px;
      font-size: 12px;
      text-align: center;
      color: @borderColor;
    }
    &Active {
      outline: 1px solid #ffc00e;
      .name {
        color: #ffc00e;
      }
    }
  }
}
.configGrid {
  .config(128px, 128px);
}
.configList {
  .config(700px, 64px);
}
