.container {
  display: flex;
  margin: 7px;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-content: flex-start;
  .box {
    width: 10px;
    height: 10px;
    margin: 2px;
    z-index: 0;
    background-color: #ff7373;
    position: relative;
    border-radius: 1px;
    // transform: scale(0);
  }
}
