.container {
  display: flex;
  margin: 7px;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-content: flex-start;
  .box {
    width: 10px;
    height: 10px;
    margin: 2px;
    z-index: 0;
    background-color: #ff7373;
    position: relative;
    border-radius: 1px;
    transform: scale(0);
    cursor: pointer;
  }
  .active {
    animation: bounce 1s linear alternate-reverse infinite;
  }
  @keyframes bounce {
    0% {
      box-shadow: 0 0 1px 4px #ec8787;
      transform: scale(0.8);
    }
    100% {
      box-shadow: 0 0 14px 6px #54545469;
      transform: scale(1.4);
    }
  }
}
