@import '~@/style/theme.less';
.digitalScroll {
  height: 100%;
  .counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    .num {
      width: 31.695px;
      height: 53.693px;
      display: inline-block;
      background: url('./number.svg') no-repeat;
      background-size: 100%;
      // background: url('./number.png') no-repeat;
      background-position: 0 0;
      transition: background-position cubic-bezier(0.4, 0, 0.2, 1) 0.8s;
      margin: 0 10px;
    }
    .whiteTheme {
      background-image: url('./number_white.svg');
    }

    .blueTheme {
      outline: 1px solid #0996f9;
      box-shadow: 0px 0px 6px 1px #40e4e87a;
    }

    .item {
      color: #fff;
      font-family: Acens;
      font-size: 40px;
      font-weight: bold;
      margin-left: 4px;
      margin-right: 4px;
      box-sizing: content-box;
      text-align: center;
      margin: 0 10px;
    }
    span {
      .item;
      color: @textColor;
      font-size: 18px;
    }
  }
}
