@import '../../../style/theme.less';
.flipBoard {
  :global {
    .ant-statistic {
      &-title {
        color: @textColor;
        font-size: 18px;
      }
      &-content-value-decimal {
        font-size: 18px;
      }
    }
  }
}
