.input-range {
  cursor: pointer;
  height: 2px;
  flex: 1;
  -webkit-appearance: none;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  display: inline-block;
  &:hover,
  &:active,
  &:focus {
    border: none;
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.9;
}

.range {
  display: flex;
  align-items: center;
  flex: 1;
}
.rangeWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  span {
    margin-right: 5px;
  }
  :global {
    .icon {
      width: 30px;
      height: 30px;
    }
    .zoom-out {
      cursor: zoom-out;
    }
    .zoom-in {
      cursor: zoom-in;
    }
    .slider-icon {
      color: #bcc9d4;
      font-size: 15px;
      margin: 0 8px;
    }
  }
}
