.play {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 30px;
  justify-content: space-evenly;
  color: #fff;
  font-size: 24px;
  &Item {
    transition: opacity 0.3s linear;
    opacity: 0.6;
    &:hover,
    &:focus {
      opacity: 1;
      color: #4aa4f8;
    }
  }
}
