@import '../../style/theme.less';

.edit-slider {
  background: #222528;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  left: 0px;
  bottom: 0;
  box-shadow: 0 -1px #000;
  user-select: none;
  z-index: 99;
  .icon {
    width: 30px;
    height: 30px;
  }

  .datav-slider {
    display: flex;
    right: 4px;
    align-items: center;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    .input-range {
      cursor: pointer;
      height: 2px;
      -webkit-appearance: none;
      box-sizing: border-box;
      outline: 0;
      margin: 0;
      display: inline-block;
    }
    :global {
      .zoom-out {
        cursor: zoom-out;
      }
      .zoom-in {
        cursor: zoom-in;
      }
      .slider-icon {
        color: #bcc9d4;
        font-size: 15px;
        margin: 0 8px;
      }
    }
  }
  .toggle-thumbnail {
    cursor: pointer;
    padding-right: 8px;
    color: #bcc9d4;
  }
}
