@import '~@/style/theme.less';

.edit-slider {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
  background: #222528;
  box-shadow: 0 -1px #000;
  transition: 0.3s ease;
  user-select: none;
  .toggle-thumbnail {
    padding-right: 8px;
    color: #bcc9d4;
    cursor: pointer;
  }
}

.toolbox-hide {
  height: 0;
  overflow: hidden;
}
