@import '~@/style/theme.less';

.editor {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .main {
    flex: 1;
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
    background: var(--datav-main-bg);

    .right-edit-main {
      flex: 1;
      flex-direction: column;
      display: flex;
      overflow: hidden;
      height: 100%;
      z-index: 2;
      position: relative;
      .editor-panel-wp {
        width: 100%;
        height: 100%;
        flex: 1;
        display: flex;
        position: relative;
        overflow: hidden;
      }
    }
    .hide {
      width: 0;
    }
  }
}
.chartWrapper {
  display: flex;
  flex-direction: column;
}
