@import '../../style/theme.less';
.datav-ruler {
  position: fixed;
  z-index: 1;
}
.guideSpan {
  position: absolute;
  background: var(--datav-ruler-tag-bg);

  line-height: 14px;
  font-size: 10px;
  height: 14px;
  user-select: none;
  width: 28px;
  text-align: center;
}
@rulerSize: 25px;
.rulerh {
  width: calc(100% - @rulerSize);
  background: var(--datav-ruler-bg);

  cursor: ns-resize;

  left: @rulerSize;
  position: absolute;
  height: @rulerSize;
  :global {
    .datav-guide {
      span {
        left: -7px;
        transform: rotate(-90deg);
        .guideSpan;
      }
    }
  }
}
.rulerv {
  position: fixed;
  height: calc(100% - @rulerSize);
  width: @rulerSize;
  background: var(--datav-ruler-bg);

  cursor: ew-resize;
  top: @rulerSize;
  position: absolute;

  :global {
    .datav-guide {
      span {
        top: 0;
        .guideSpan;
      }
    }
  }
}
.guide {
  border-right: 1px solid var(--datav-ruler-font-color);
  border-bottom: 1px solid var(--datav-ruler-font-color);
  width: @rulerSize;
  height: @rulerSize;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  z-index: 999;
  align-items: center;
  justify-content: center;
  display: flex;
  color: var(--datav-ruler-font-color);
  background: var(--datav-ruler-bg);
  &:hover {
    color: #fff;
  }
}

:global {
  .datav-guide {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: #fff;
    border-radius: 1px;
    box-shadow: 0 0 5px -3px #000;
    background: var(--datav-ruler-tag-bg) !important;
  }
  .datav-horizontal {
    .datav-adder,
    .datav-dragging {
      background: transparent !important;
      border-top: 1px dashed var(--datav-ruler-tag-bg);
      span {
        top: -7px;
        width: 28px;
        text-align: center;
      }
    }
  }
  .datav-vertical {
    .datav-adder,
    .datav-dragging {
      background: transparent !important;
      border-right: 1px dashed var(--datav-ruler-tag-bg);
      span {
        left: -13px;
        width: 28px;
        text-align: center;
      }
    }
  }
}
