@import '../../style/theme.less';
.toolbox-panel-wp {
  height: 40px;
  z-index: 10;
  transition: height 0.3s ease;
  border-bottom: 1px solid #000;
  .toolbox-panel {
    transition: 0.3s ease;
    width: 100%;
    height: 39px;
    background: #191c21;
    padding: 8px 30px;
    display: flex;
    align-items: center;
    height: 100%;
  }
}
.toolbox-hide {
  height: 0;
  overflow: hidden;
}
