.chartContainer {
  :global {
    .react-resizable-handle {
      &-se {
        bottom: -15px;
        right: -15px;
        width: 24px;
        height: 24px;
        background-size: 50% 50%;
      }
      &-e,
      &-s {
        background-size: 50% 50%;
      }
    }
  }
}
