.ant-collapse {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgba(28, 32, 38, 0.603); //var(--datav-nav-bg);
  background-color: rgba(28, 32, 38, 0.603); //var(--datav-nav-bg);
  border: none;

  &-header {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 16px 0 6px !important;
    color: #bcc9d4 !important;
    font-size: 14px;
    background: #111;
    border-bottom: 1px solid #2c2e33 !important;
    border-bottom: var(--datav-cp-border) !important;
    cursor: pointer;
    span {
      margin-right: 5px;
      font-size: 12px;
    }

    .collapse-hd {
      display: flex;
      align-items: center;
      .com-font {
        margin: 0 3px;
      }
    }
    .arrow {
      transform: rotate(0);
      transition: 0.2s transform linear;
      &Active {
        transform: rotate(0.25turn);
      }
    }
  }
  &-item {
    background: transparent; //var(--datav-cp-bg-color);
    border-bottom: none !important;
  }
  &-content {
    overflow: hidden;
    color: rgba(0, 0, 0, 0.65);
    background-color: transparent !important;
    border-top: none !important;
    &-box {
      box-sizing: border-box;
      padding: 0 !important;
      overflow: hidden;
    }
  }
}
