@import './dark_colorpicker.less';

@toolsize: 24px;
.fields {
  :global {
    .ant-radio-button-wrapper {
      padding: 0 10px;
      color: #fff;
      background: transparent;
      border-color: var(--datav-gui-primary-color);

      &-checked,
      &::before {
        background: var(--datav-gui-primary-color);
      }

      &:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child,
      &:not(.ant-radio-button-wrapper-disabled):first-child {
        border-color: var(--datav-gui-primary-color);
        border-right-color: var(--datav-gui-primary-color);
      }

      &:hover {
        color: #fff;
        background: var(--datav-gui-primary-color);
        opacity: 0.9;
      }
    }
  }

  display: flex;
  flex-direction: column;
  .gardient {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 178px;
    height: 100px;
    margin-bottom: 5px;
  }
  .tools {
    position: relative;
    .item {
      width: @toolsize / 1.5;
      height: @toolsize;
      text-align: center;
      cursor: ew-resize;
    }
    .itemWrapper {
      position: absolute;
      top: 0;
      font-size: 10px;
      &::before {
        position: absolute;
        top: -30px;
        left: @toolsize / 3;
        width: 1px;
        height: 30px;
        background: #aaa;
        content: '';
      }
    }
  }
}

.arrayTop {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-right: @toolsize / 3 solid transparent;
  border-bottom: @toolsize / 3 solid #e02774;
  border-left: @toolsize / 3 solid transparent;
}

.colorItem {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  height: 30px;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  transition-property: height;
  // &:hover {
  //   height: 150px;
  // }
}
// .noAnimation {
//   &:hover {
//     height: 30px;
//   }
// }
.colorPanel {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-right: 8px;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    .rectPop {
      display: flex;
      overflow-y: scroll;
    }
  }
  .rectPop {
    position: absolute;
    top: 36px;
    z-index: 2;
    display: none;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: calc(4px + var(--datav-gui-component-container-width));
    height: 120px;
    padding: 5px 4px 5px 6px;
    color: var(--datav-gui-font-color-base);
    background: var(--datav-gui-background-color-back);
    border: 1px solid var(--datav-gui-primary-color);
    box-shadow: var(--datav-gui-popover-shadow);
    transition: all ease 0.2s;
    span {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-top: 3px;
      margin-right: 3px;
      cursor: pointer;
      transition: transform 0.5s ease;
      &:hover {
        outline: 1px solid #fff;
        transform: scale(1.5);
      }
    }
  }
}

.head {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  cursor: crosshair;
  user-select: none;
}
