.fields {
  :global {
    .ant-radio-button-wrapper {
      background: transparent;
      color: #fff;
      border-color: var(--datav-gui-primary-color);
      &-checked,
      &:before {
        background: var(--datav-gui-primary-color);
      }
      
      &:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child,
      &:not(.ant-radio-button-wrapper-disabled):first-child {
        border-color: var(--datav-gui-primary-color);
        border-right-color: var(--datav-gui-primary-color);
      }

      &:hover {
        background: var(--datav-gui-primary-color);
        opacity: 0.9;
        color: #fff;
      }
    }
  }
  display: flex;
  flex-direction: column;
  .gardient {
    width: 178px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  .tools {
    position: relative;
    .item {
      width: 18px;
      height: 18px;
      cursor: ew-resize;
      text-align: center;
    }
    .itemWrapper {
      position: absolute;
      top: 0;
    }
  }
}

.head {
  height: 30px;
  width: 178px;
  margin-top: 5px;
  color: #fff;
  text-align: center;
  cursor: crosshair;
}
