.fields {
  :global {
    .ant-radio-button-wrapper {
      background: transparent;
      color: #fff;
      border-color: var(--datav-gui-primary-color);
      &-checked,
      &:before { 
        background: var(--datav-gui-primary-color);
      }
    }
  }
  display: flex;
  flex-direction: column;
  .head {
    height: 30px;
    width: 178px;
    margin-top: 10px;
    color:#fff;
    text-align: center;
    cursor: pointer;
  }
}
