@import '~@/style/global.less';
.layer-panel-wp {
  position: relative;
  display: flex;
  flex: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #1d1f26;
  border-right: 1px solid #000;
  .selected {
    color: var(--datav-main-color);
  }
  .layer-manager-top {
    position: relative;
    height: 30px;
    color: #bcc9d4;
    line-height: 30px;
    text-indent: 10px;
    background: var(--datav-panel-title-bg);
    user-select: none;
    .layer-num {
      line-height: 30px;
      vertical-align: middle;
    }
    .layer-manager-layout-selector {
      position: absolute;
      top: 0;
      right: 1px;
      font-size: 0;
      letter-spacing: 4px;
    }
  }
  .toolbar {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 0 18px;
    background: #20242a;
    border-bottom: 1px solid var(--datav-panel-border-color);
    .layer-toolbar-icon {
      width: 20px;
      height: 20px;
      margin: 0 9px;
      color: #bcc9d4;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      background: var(--datav-panel-border-color);
      border-radius: 1px;
      cursor: not-allowed;
      opacity: 0.3;
      transition: background 0.2s;
    }
    .enable {
      cursor: pointer;
      opacity: 1;
    }
  }
  .ul {
    position: relative;
    display: flex;
    flex: auto;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    color: #bcc9d4;
    font-size: 12px;
    line-height: 2;
    list-style: none;
    background: var(--datav-panel-color);
    user-select: none;
    margin-block-start: 0;
  }
  .layerWrap {
    height: 100%;
    .ul;
    li {
      position: relative;
      display: flex;
      flex: none;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      min-height: 32px;
      padding: 0 6px;
      padding-left: 8px;
      background: var(--datav-panel-item-bg);
      cursor: pointer;
      transition: background 0.2s;
      :global {
        .react-contextmenu-wrapper {
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
        }
        .fold-toggle-btn {
          height: 100%;
          font-size: 10px;
          line-height: 48px;
          transform: rotate(90deg) scale(0.8);
          transform-origin: 50% 50%;
          transition: transform 0.2s ease;
        }
        .icon-fold {
          transform: rotate(0) scale(0.8);
        }
      }
      .text {
        flex: auto;
        margin-left: 6px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        span {
          flex: auto;
          overflow: hidden;
          white-space: nowrap;
          text-indent: 7px;
          text-overflow: ellipsis;
          &[contenteditable]:focus {
            padding: 0 10px 3px 0;
            border-bottom: 1px solid #fff;
            outline: none;
          }
        }
      }
      .img {
        display: block;
        flex: none;
        width: 53px;
        height: 34px;
        background: #282a30;
        border: 1px solid #3a4659;
      }

      .layer-thumbail-item {
        position: absolute;
        top: 3px;
        right: 4px;
        line-height: 1;
      }
      &:hover {
        background-color: var(--datav-item-hover-color);
      }

      // .extra {
      //   position: absolute;
      //   line-height: 1;
      //   right: 4px;
      //   top: 3px;
      // }
    }
    .last-flex-item {
      flex: auto;
      min-height: 40px;
    }
    .locked {
      color: #576369;
      background: #1c1f25;
    }
    .hided {
      color: #576369;
      background: #1c1f25;
    }
    .dragging {
      background: var(--datav-main-hover-color);
    }
    .selected {
      color: #fff;
      background: var(--datav-sub-main-color);
      &:hover,
      &:focus {
        background-color: var(--datav-sub-main-color);
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
    .thumbnail {
      min-height: 48px;
    }
    .group_item {
      padding-left: 18px;
    }
  }

  .layer-toolbar-bottom {
    border-top: 1px solid var(--datav-panel-border-color);
  }
  .layer-toolbar {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 0 18px;
    background: #20242a;
    :global {
      .datav-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        color: #bcc9d4;
        font-size: 16px;
        border: 1px solid transparent;
        border-radius: 1px;
        opacity: 0.3;
        transition: background 0.2s;
      }
      .enable {
        opacity: 1;
      }
    }
  }
}
:global {
  .react-contextmenu {
    position: fixed;
    z-index: 4;
    color: var(--datav-font-color);
    background: var(--datav-context-menu-bg);
    user-select: none;
    .datav-icon {
      margin-right: 3px;
    }
    &-item {
      display: flex;
      height: 28px;
      padding: 0 6px;
      padding-right: 3em;
      overflow: hidden;
      line-height: 28px;
      border-left: 2px solid transparent;
      cursor: pointer;
      &--divider {
        width: 100%;
        height: 1px;
        background-color: var(--datav-context-menu-line);
      }
      &:hover,
      &:focus {
        color: var(--datav-main-color);
        background-color: var(--datav-context-menu-hover);
        border-left: 2px solid var(--datav-main-color);
      }
    }
    .disabled {
      color: #576369;
      cursor: auto;
      pointer-events: none;
    }
  }
}
