@import './style/global.less';
@import './style/root.less';
@import './style/icon/datav.less';
@import './style/icon/comfont.less';
@import './style/icon/gui.less';
html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #222e4e;
}
.ant-layout {
  height: 100%;
}

::selection {
  color: #fff;
  background: #7827ff;
}

// 1234567890.￥%+-_—¥
@font-face {
  font-weight: normal;
  font-family: 'Acens';
  src: url('./component/widget/fonts/Acens.woff');
  font-display: swap;
}

@font-face {
  font-family: 'Prisma';
  src: url('./component/widget/fonts/Prisma.woff');
  font-display: swap;
}

@font-face {
  font-family: 'Unica One';
  src: url('/fonts/Unica-One.ttf');
  font-display: swap;
}

.cbpc_data_input {
  padding-left: 7px;
  color: var(--datav-gui-font-color-1);
  text-align: start;
  background: var(--datav-gui-component-background-color);
  border: 1px solid var(--datav-gui-component-border-color);
  border-radius: 0;
  outline: none;
  box-shadow: none;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  resize: none;
  caret-color: var(--datav-main-color);
  &:hover,
  &:active,
  &:focus {
    color: var(--datav-gui-font-color-1);
    font-size: var(--datav-gui-font-size-base);
    background: var(--datav-gui-component-background-hover-color);
    border: 1px solid var(--datav-gui-primary-color);
    outline: none;
    box-shadow: none;
  }
}

.data_input {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 82px;
  min-width: 82px;
  height: 30px;
  margin: 0;
  font-size: 12px;
  line-height: 30px;
  .cbpc_data_input;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

// .g2-tooltip {
//   background: rgba(48, 54, 64, 0.8);
//   backdrop-filter: saturate(180%) blur(20px);
// }

.ant-select-dropdown {
  background-color: rgb(52, 52, 53, 54%) !important;
  backdrop-filter: saturate(180%) blur(20px);
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled),
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #2483ff !important;
}
.ant-select-item {
  color: #ddd !important;
}
.ant-select-selector {
  color: #ddd;
  background-color: #1c1f25 !important;
}

// .ka-wrapper,
// .ka-content {
//   width: auto;
//   height: 100%;
// }

// .echarts-tooltip {
//   background-color: rgba(48, 54, 64, 0.8);
//   color: rgb(224, 224, 227);
//   font-size: 12px ;
//   line-height: 18px;
//   font-family:  'Unica One', -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
//     'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
//     'Noto Color Emoji';
//   padding: 12px;
//   box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
//   border-radius: 3px;
//   border: none;
//   backdrop-filter: saturate(180%) blur(20px);
// }

:global {
  .ant-carousel {
    height: 100%;

    &:hover {
      .slick-prev,
      .slick-next,
      .slick-dots {
        opacity: 1;
      }
    }

    .slick {
      &-slider {
        height: 100%;
      }
      &-list {
        height: 100%;
      }
      &-track {
        height: 100%;
      }
      &-prev {
        left: 0;
        z-index: 100;
        border-top: 3px solid #373737;
        border-left: 3px solid #373737;
        transform: rotate(-45deg);
        opacity: 0;
        transition: opacity 0.3s linear;
        &:focus,
        &:hover {
          border-top-color: #6b6b6b;
          border-left-color: #6b6b6b;
        }
      }
      &-next {
        right: 0;
        z-index: 100;
        opacity: 0;
        transition: opacity 0.3s linear;
        &:focus,
        &:hover {
          border-top-color: #6b6b6b;
          border-right-color: #6b6b6b;
        }
        border-top: 3px solid #373737;
        border-right: 3px solid #373737;
        transform: rotate(45deg);
      }
      &-dots {
        opacity: 0.2;
        transition: opacity 0.3s linear;
        &-bottom {
          bottom: -20px;
        }
      }
    }
    .slick-slide {
      height: 100%;
      > div {
        height: 100%;
      }
    }
    li button {
      background: #cfcfcf !important;
    }
    li.slick-active,
    li {
      width: 12px !important;
      button {
        background: #fff !important;
      }
    }
  }
}
