@import '../../style/theme.less';
@import '../../global.less';

.field {
  width: 100%;
  display: flex;
  position: relative;
  padding-right: var(--datav-gui-field-padding-right);
  transition: all var(--datav-gui-transition-time) var(--datav-gui-transition-easing);
  &:not(.--basic) {
    padding-bottom: 6px;
  }
  &:first-child {
    padding-top: 16px;
  }
  user-select: none;
  font-size: var(--datav-gui-font-size-base);
  color: var(--datav-gui-font-color-1);
  padding-left: var(--datav-gui-field-padding-left-level-1);
  background: rgba(28, 32, 38, 0.603); // var(--datav-gui-background-color-front);

  .title {
    line-height: var(--datav-gui-component-height);
    width: 100px;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: help;
  }
  .notitle {
    width: 100% !important;
  }
  .container {
    // width: var(--datav-gui-component-container-width);
    flex: 1;
    .component {
      width: 100%;
      min-height: var(--datav-gui-component-height);

      font-size: var(--datav-gui-font-size-base);
      color: var(--datav-gui-font-color-1);
      outline: none;
      box-shadow: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: relative;
      line-height: var(--datav-gui-component-height);
    }
  }

  // :global {
  //   .ant-input,
  //   .ant-input-number-input {
  //     .data_input;
  //   }
  //   .ant-input[disabled],
  //   .ant-input-number-input[disabled] {
  //     color: unset;
  //     background-color: unset;
  //     cursor: not-allowed;
  //     opacity: 0.7;
  //   }
  // }
}
