.borderImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.widgetBorder {
  @borderWidth: 20px;
  border-image-slice: 20 fill;
  border-width: @borderWidth;
  border-style: solid;
  width: 100%;
  height: 100%;
  position: relative;
}
